* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#Header {
height: 46.5px;
background-color: #000;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    
}

#nav li {
    display: inline-block;
    position: relative;
}

.subnav li a{
    /* display: none; */
    position: absolute;
}



#Slider {
background-color: #333;
min-height: 500px;
}

#Content {

}

#Footer {

}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#header {
    height: 46px;
    background-color: #000;

}

#nav li a {
    color: #fff;
    padding: 0 24px;
    text-decoration: none;
}

#header #nav li {
    display: inline-block;
    line-height: 46px;  
}

#header #nav li:hover a {
    background-color: #ccc;
    color: #000;
    display: block;
}

#header #nav .subnav {
    display: block;
}



#slider {

}

#content {

}

#footer {

} */
